replicaCount: 1

image:
  repository: fastapi-hello
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: nginx
  host: fastapi.local

networkPolicy:
  enabled: true
