apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-fastapi-hello
  labels:
    app.kubernetes.io/name: fastapi-hello
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8000
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: fastapi-hello
    app.kubernetes.io/instance: {{ .Release.Name }}
